body {
  background-color: #003C43;
  color: #77B0AA;
  text-align: center;
  padding-top: 150px;
}

.kanye h2 {
  color: #E3FEF7;
  font-size: 26px;
}

.btn { 
  padding: 5px 10px;
  background-color: #135D66;
  color: #E3FEF7;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  scale: 1.04;
}